@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #282a36;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
header {
  padding: 32px;
  border-bottom: 2px solid #808080;
  background-color: #00000063;
}

.links {
  text-align: center;
}
.links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  line-height: 35px;
  margin: 0px 10px;
  padding: 0px 20px;
}
.links a:hover {
  color: #808080;
}

/*SOBRE*/
#sobre {
  text-align: center;
  padding: 35px;
}

#sobre img {
  border-radius: 50%;
  border: 5px solid #808080;
  height: 200px;
  margin-bottom: 40px;
}

#sobre h1 {
  font-size: 35px;
  line-height: 45px;
  font-weight: bold;
}

#sobre h2 {
  font-size: 25px;
  line-height: 35px;
  font-weight: normal;
  margin-bottom: 20px;
  opacity: 0.8;
}

#sobre p {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

#links-footer a {
  padding: 0 0px;
  border-bottom: 2px solid #808080;
}

/*Projetos*/
/*CARDS*/
.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: #808080;
}
.cardImg img {
  width: 100%;
}

.cardInfo {
  padding: 24px;
}
.cardInfo h3 {
  color: #000000;
  margin-bottom: 5px;
}
.cardInfo p {
  margin-bottom: 15px;
}
.cardInfo a {
  background-color: #282a36;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 5px;
}

.cardInfo a:hover {
  filter: brightness(50%);
}
