@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Roboto",sans-serif;
}

.container {
    border-style: solid;
    border-radius: 1.5em;
    border-width: 0.2em;
    padding: 5em;
    max-width: 60em;
    margin-top: 8%;
}

p{
    font-size: 25px;
}

input[type=number] {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    font-size: 25px;
}