@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

[wm-flappy] {
  position: relative;
  border: 5px solid dodgerblue;
  height: 600px;
  width: 1200px;
  margin: 5px;
  background-color: deepskyblue;
  overflow: hidden;
}
body {
  background-color: #0d262d;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
p {
  font-size: 20px;
  margin-bottom: 10px;
}

.passaro {
  position: absolute;
  width: 60px;
  left: 35%;
  bottom: 50%;
}

.par-de-barreiras {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barreira .borda {
  height: 30px;
  width: 130px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border: 2px solid #000000;
}

.barreira .corpo {
  height: 150px;
  width: 110px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.progresso {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  z-index: 100;
}

.button {
  font-family: "Roboto", sans-serif;
  border: 2px solid #000000;
  font-size: 25px;
  font-style: normal;
  color: #000000;
}

.button:hover {
  font-family: "Roboto", sans-serif;
  border: 2px solid #ffffff;
  font-size: 25px;
  font-style: normal;
  color: #ffffff;
  background-color: gray;
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
